* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

/* 


/* Navigation.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin-left: 15px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #61dafb;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the left */
  }

  nav a {
    margin: 5px 0; /* Add some spacing between links */
  }
}



/* Hero.css */
.hero-container {
  text-align: center;
  background-color: #f8f8f8;
  color: black;
  padding: 50px 0;
  position: relative;
  height: 600px;
}

.container-title {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero_btn {
  background-color: #333333;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero_btn:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  button {
    font-size: 1em;
  }

  .progress-container {
    width: 90%;
  }
}

/* ProgressBar.css */
.progress-container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  max-width: 1200px;
}

.progress-bar {
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #61dafb;
  border-radius: 8px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #333;
}

/* FAQ.css */

.FAQ {
  background-color: #01161E;
  color: white;
  height: 700px;
}

.faq-container {
  width: 80%;
  margin: 20px auto;
  max-width: 1200px;
  padding-top: 4em;
}

.faq-item {
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 40px;
  cursor: pointer;
}

.faq-item.active {
  max-height: 500px; /* Adjust to your desired maximum height when expanded */
  border-bottom: 1px solid #ddd;
  transition: 0.9s ease-in-out;
}

.question {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.answer {
  padding: 10px;
}

/* HamburgerMenu.css */
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open {
  transform: translateX(0);
}

.close-button {
  font-size: 2em;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

/* Navigation.css */
.hamburger-icon {
  font-size: 2em;
  cursor: pointer;
  display: none; /* Initially hide the hamburger icon on larger screens */
}

/* Add a media query to show the hamburger icon on smaller screens */
@media screen and (max-width: 768px) {
  .hamburger-icon {
    display: block;
  }
}
